<!-- <footer>
    <div class="f">
        <div class="socials">
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            <a href=""> <i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i>  </a>
            
           
           
        </div>
      <div class="brand">&copy; Wandurlust Private Limited </div>
       <div class="links">
        <a href="/privacy">Privacy</a>&nbsp;
        <a href="/terms">Terms</a>
       </div>
    </div>
</footer> -->
<footer class="bg-light text-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
                <div class="brand">
                    &copy; Wandurlust Private Limited
                </div>
            </div>
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <div class="socials">
                    <a href="https://twitter.com/home" class="text-dark mx-2"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/10harshsharma/" class="text-dark mx-2"><i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="https://github.com/Harsharma18" class="text-dark mx-2"><i class="fab fa-github fa-lg"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <div class="links">
                    <a href="/privacy" class="text-dark mx-2">Privacy</a>
                    <a href="/terms" class="text-dark mx-2">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>
