<link href="/css/footer.css" rel="stylesheet">

<footer class="footer">
  <div class="container">
    <!-- Top Section: Links -->
    <div class="footer-top">
      <div class="footer-column">
        <h5>About</h5>
        <ul>
          <li><a href="#">About Airbnb</a></li>
          <li><a href="#">Newsroom</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h5>Community</h5>
        <ul>
          <li><a href="#">Diversity & Belonging</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Invite Friends</a></li>
          <li><a href="#">Disaster Response</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h5>Hosting</h5>
        <ul>
          <li><a href="#">Become a Host</a></li>
          <li><a href="#">Hosting Resources</a></li>
          <li><a href="#">Community Center</a></li>
          <li><a href="#">Responsible Hosting</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h5>Support</h5>
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Trust & Safety</a></li>
          <li><a href="#">Neighborhood Support</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <!-- Middle Section: Social Icons -->
    <div class="footer-middle">
      <a href="https://github.com/Harsharma18" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/10harshsharma" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/harshsharma_04" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://x.com/harsharma1845" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://discord.com/users/989920811102117908" target="_blank">
        <i class="fa-brands fa-discord"></i> 
      </a>
      
    </div>

    <!-- Bottom Section: Copyright -->
    <div class="footer-bottom">
      <p>© <span id="currentYear"></span> Airbnb, Inc. All rights reserved.</p>
      <ul class="footer-links">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
      <p class="made-by">Made  by <span class="highlight">Harsh Sharma</span></p>
    </div>
  </div>
</footer>

<script>
  // Update the year dynamically
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
