<%layout("/layouts/boilerplate.ejs")%>
   <div class="row col-6 offset-3 mt-3">
    <h3 >Login on Wandurlust 😀</h3>
   <form method = "post" action="/login" novalidate class="needs-validation" >
    <div class="mb-3">
       <label for="username" class="form label">Username</label>
       <input id="username"name="username" placeholder="Enter Username" type="text" class="form-control" required />
       <div class="valid-feedback">Looks Good</div>

    </div>
    <div class="mb-3">
        <label for="password" class="form label">Password</label>
        <input id="password"name="password" placeholder="Enter Password" type="password" class="form-control" required />
        <div class="valid-feedback">Looks Good</div>

     </div>
     <div class="mb-3">
        <button class="btn btn-success">Login</button>
     </div>
    </div>